
@media (min-width: 992px) and (max-width: 1199px) {
	
	.portfolio-box { width: 205px; }
	
	.testimonial-list .testimonial-image { width: 20%; }
	.testimonial-list .testimonial-text { width: 80%; }
	
	.call-to-action-text p { width: 75%; }
	.call-to-action-text .call-to-action-button { width: 25%; }
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
	ul.navbar-nav li a { padding-left: 15px; padding-right: 15px; }
	
	.flex-caption { bottom: 20px; }
	
	.page-title-container p { display: block; margin: 10px 0 6px 0; line-height: 24px; }
	
    .portfolio-box { width: 210px; }
    
    .testimonial-list .testimonial-image { width: 25%; }
	.testimonial-list .testimonial-text { width: 75%; }
	
	.team-social { right: auto; width: 100%; padding: 0 10px; text-align: center; }
	.team-social a { margin-bottom: 3px; }
	
	.call-to-action-text p { width: 75%; }
	.call-to-action-text .call-to-action-button { width: 25%; text-align: center; }
	
	.flickr-feed a { width: 50px; margin-right: 2px; }

}

@media (max-width: 767px) {
	
	.navbar>.container .navbar-brand { margin-left: 10px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { margin-top: 13px; }
	.navbar-toggle .icon-bar { background: #5d5d5d; }
	ul.navbar-nav li a { padding: 10px 15px; text-align: left; }
	ul.navbar-nav li a br { display: none; }
	ul.navbar-nav li a span { padding-right: 7px; }
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header { padding: 10px 15px; }
	
	.flex-caption { bottom: 0; width: 100%; }
	
	.page-title-container p { display: block; margin: 10px 0 6px 0; line-height: 24px; }
	
	.work-title h2, .testimonials-title h2, .team-title h2 { width: auto; text-align: center; }
	
	.work, .team-box { max-width: 540px; margin-left: auto; margin-right: auto; }
	
	.portfolio-masonry { padding: 0; }
    .portfolio-box { width: 100%; margin: 30px 0 0 0; padding: 0 30px; }
    .portfolio-box-container { max-width: 540px; margin-left: auto; margin-right: auto; }
    .portfolio-filters { text-align: center; }
	
	.testimonial-list .testimonial-image { float: none; width: auto; text-align: center; }
	.testimonial-list .testimonial-text { float: none; width: auto; margin-top: 30px; text-align: center; }
	.testimonial-list .nav-tabs { margin-top: 20px; text-align: center; }
	.testimonial-icon { display: none; }
	
	.call-to-action-text p { float: none; width: auto; padding-left: 0; text-align: center; }
	.call-to-action-text .call-to-action-button { float: none; width: auto; margin-top: 15px; margin-bottom: 15px; padding-right: 0; text-align: center; }
	
	footer { padding-top: 20px; }
	.footer-box { text-align: center; }
	.footer-box-text-subscribe input[type="text"] { max-width: 300px; margin-left: auto; margin-right: auto; }
	.flickr-feed a { margin-left: 2px; margin-right: 2px; }
	.footer-copyright, .footer-social { text-align: center; }
	.footer-social a { margin: 0 5px; }

}

@media (max-width: 600px) {
	
	.flex-direction-nav a { top: 10%; }
	
}

@media (max-width: 470px) {
	
	.flex-caption { display: none; }
	.flex-direction-nav a { top: 50%; }
	
	.team-social { right: auto; width: 100%; padding: 0 10px; text-align: center; }
	.team-social a { margin-bottom: 3px; }
	
}


/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 173px 65px !important;
    }
	
}
